.sidebar{

position:fixed;

left:0;
top:0;

width:240px;
height:100vh;

background:#111827;

border-right:1px solid #252b36;

padding:25px;

display:flex;
flex-direction:column;
justify-content:space-between;

z-index:1000;

}

.logo{

display:flex;
align-items:center;
gap:15px;

margin-bottom:40px;

}

.logo-icon{

font-size:2rem;
color:#DC2626;

}

.logo h2{

color:white;
font-size:1.7rem;

}

.logo small{

color:#94A3B8;

}

.menu{

display:flex;
flex-direction:column;
gap:8px;

}

.menu li{

display:flex;
align-items:center;
gap:15px;

padding:15px;

border-radius:12px;

cursor:pointer;

transition:.3s;

color:#CBD5E1;

}

.menu li:hover{

background:#1F2937;

transform:translateX(6px);

}

.active{

background:rgba(220,38,38,.15);

color:white;

border-left:4px solid #DC2626;

}

.labs-btn{

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

background:none;

color:#CBD5E1;

}

.labs-btn span{

display:flex;

align-items:center;

gap:15px;

}

.rotate{

transform:rotate(180deg);

transition:.3s;

}

.submenu{

margin-left:30px;

display:flex;

flex-direction:column;

gap:8px;

}

.submenu li{

padding:10px;

font-size:.9rem;

color:#94A3B8;

}

.bottom{

display:flex;

flex-direction:column;

gap:12px;

}

.theme-btn,
.login-btn{

height:46px;

border-radius:12px;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

}

.theme-btn{

background:#1F2937;

color:white;

}

.login-btn{

background:#DC2626;

color:white;

}

.mobile-btn{

display:none;

}

@media(max-width:992px){

.mobile-btn{

display:flex;

position:fixed;

top:20px;

left:20px;

width:46px;

height:46px;

background:#DC2626;

color:white;

border-radius:12px;

justify-content:center;

align-items:center;

z-index:1001;

}

.sidebar{

left:-260px;

transition:.35s;

}

.sidebar.show{

left:0;

}

}