:root{

  --bg-primary:#0D1117;
  --bg-secondary:#161B22;
  --bg-card:#1F2937;

  --text-primary:#F8FAFC;
  --text-secondary:#94A3B8;

  --primary-color:#DC2626;
  --primary-hover:#EF4444;

  --border-color:#30363D;

  --transition:.3s ease;

}

/* Light Theme */

.light{

  --bg-primary:#F8FAFC;
  --bg-secondary:#FFFFFF;
  --bg-card:#F1F5F9;

  --text-primary:#111827;
  --text-secondary:#475569;

  --primary-color:#DC2626;
  --primary-hover:#EF4444;

  --border-color:#E2E8F0;

}